/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/



.callout-open {
	height: 122px;
}

.callout-closed {
	height: 22px;
	overflow: hidden;
}
